char:
  rpc_host: "100.67.0.7"
  rpc_port: 18443
  rpc_user: "char"
  rpc_password: "char"
  network: "regtest"
  app_domain: "did-char-namespace"
  app_preimage: "did-char-namespace"

database:
  path: "./did-char.db"

polling:
  max_attempts: 30
  interval_ms: 100
  timeout_seconds: 10
